$contentBackground: #fff;
$headerBackground: url("../img/m-h-day.jpg");
$textColor: #fff;
$text: #000;
$reverseText: #fff;
$sourceSansPro: "Source Sans Pro", sans-serif;
$hind: "Hind", sans-serif;
$fresca: "Fresca", sans-serif;
$linkColor: #fff;
$hoverLink: darkgray;
$buttonColor: green;
$buttonHover: chartreuse;
$gradient: linear-gradient(to right, green, cornflowerblue);
$span: cornflowerblue;
$font-size: ("standart": 20px);
