* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #fff;
  display: inline-flex;
  position: relative;
  flex-direction: column; }

main {
  margin: 0 auto;
  width: 960px; }

header {
  background: url("../img/m-h-day.jpg");
  text-align: left;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 50% 0 / 40%; }

.header-wrap {
  max-width: 50%;
  margin: 0 0 0 10%;
  padding: 5px 40px 100px 0; }

.landing-logo, .footer-wrap .footer_logo {
  display: flex;
  align-items: center; }
  .landing-logo img, .footer-wrap .footer_logo img {
    height: 50px; }
  .landing-logo p, .footer-wrap .footer_logo p {
    color: #000;
    margin-left: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    display: grid;
    line-height: 1.3;
    text-align: center;
    font-size: 20px; }
    .landing-logo p span, .footer-wrap .footer_logo p span {
      font-size: 10px; }

.header_heading, .section_text, .section_banner .section_banner_text_wrap .section_banner_heading {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
  padding: 40px 0; }
  .header_heading span, .section_text span, .section_banner .section_banner_text_wrap .section_banner_heading span {
    background-color: cornflowerblue; }

.header_text {
  color: #000;
  font-family: "Hind", sans-serif;
  padding: 40px 0; }

button {
  height: 30px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #333;
  overflow: hidden;
  border: none;
  margin-right: 50px;
  background-color: green; }
  button:hover {
    background-color: chartreuse; }

a {
  color: #fff; }
  a:hover {
    color: darkgray; }

.section_text {
  text-align: center;
  color: #000; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%; }

.section_card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #1b1b2c;
  margin: 10px 0;
  border-radius: 1%; }

.section_card_right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; }
  .section_card_right_container .section_card_heading {
    color: #fff;
    font-weight: bold; }
  .section_card_right_container .section_card_text {
    align-self: center;
    color: #fff; }

.section_banner {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, green, cornflowerblue);
  width: 80%;
  margin: 50px auto 0 auto;
  height: auto;
  justify-content: space-around;
  padding: 10px; }
  .section_banner .section_banner_text_wrap {
    display: flex;
    flex-direction: column;
    line-height: 30px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-size: 20px;
      padding: 0;
      color: #000; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      color: #fff; }
  .section_banner button {
    align-self: center; }

footer {
  background-color: #1b1b2c;
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: auto;
  z-index: -10;
  display: flex;
  justify-content: space-around; }

.footer-wrap {
  display: flex;
  align-items: center;
  padding-top: 35px;
  justify-content: space-between; }
  .footer-wrap .footer_logo p {
    color: #fff; }

.footer_text {
  color: #fff;
  width: 60%; }

.footer-cr {
  color: #fff; }
