$contentBackground: #660;
$headerBackground: url("../img/m-h-night.jpg");
$textColor: #fff;
$text: #fff;
$reverseText: #000;
$sourceSansPro: "Source Sans Pro", sans-serif;
$hind: "Hind", sans-serif;
$fresca: "Fresca", sans-serif;
$linkColor: #fff;
$hoverLink: darkgray;
$buttonColor: orange;
$buttonHover: yellow;
$gradient: linear-gradient(to right, orange, red);
$span: red;